module disable_wakeup 1.0;

require {
    type init_t;
    type bin_t;
    class file { execute open read };
}

#============= init_t ==============
allow init_t bin_t:file { execute open read };
