module snapper_container 1.0;

require {
    type container_file_t;
    type snapperd_t;
    class dir { read write add_name remove_name };
    class file { read write create open };
}

# Allow snapperd to read/write the container files
allow snapperd_t container_file_t:dir { read write add_name remove_name };
allow snapperd_t container_file_t:file { read write create open };

